@model LoginViewModel

<div class="modal fade" id="modal-forgotpassword">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("ForgotPassword", "Account",
                                    new { ReturnUrl = ViewBag.ReturnUrl },
                                    new AjaxOptions { HttpMethod = "POST", OnSuccess = "forgotpasswordsuccess" },
                                    new { @class = "form-horizontal", id = "forgotPasswordForm", autocomplete = "off" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Forgotten your password?</h4>
                </div>

                <div class="modal-body">
                    <div id="forgot-password-details">
                        <p>Please enter your email address to receive a password reset link by email</p>
                        <div>
                            @Html.AntiForgeryToken()
                            <div class="alert forgotalert alert-danger" style="display: none;">
                                <h4>Error</h4>
                                <p></p>
                            </div>
                            <br />
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 col-sm-3 control-label" })
                                <div class="col-md-6 col-sm-6">
                                    @Html.TextBoxFor(m => m.Email, new { Id = "forgotpasswordEmail", @class = "form-control", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="forgot-password-confirmation" style="display:none;"><p>Your password reset email has been sent.</p></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="forgot-password-ok-btn" data-loading-text="Sending..." class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                </div>
            }

        </div>     <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function forgotpasswordsuccess() {
        $("#modal-forgotpassword").modal("hide");
        alert("The email to reset your password has been sent.");
    }
</script>